<%- include('../partials/header') %>
<div class="card" style="max-width: 400px; margin: auto;">
    <h2>Logowanie</h2>
    <form action="/auth/login" method="POST">
        <input type="text" name="username" placeholder="Login" required>
        <input type="password" name="password" placeholder="Hasło" required>
        <button type="submit" style="width: 100%;">Zaloguj</button>
    </form>
</div>
<%- include('../partials/footer') %>